.info-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  color: var(--ion-color-light);
  max-width: 25px;

  .value-part {
    font-size: 18px;
    font-weight: bolder;
    color: var(--ion-color-light);
    display: flex;
    
    .symbol-part {
      font-size: var(--525-common-text-size);
      font-weight: bold;
      color: var(--ion-color-light);
    }
  }
  .label-part {
    font-size: var(--525-small-text-size);
  }
}