.search-bar-toolbar {
  position: fixed;
  top: 45px;
  border-bottom: 1px solid black;
  padding: 12px 0;
  z-index: 1000;
  width: 100%;

  .search-bar {
    text-align: center;

    --border-radius: 50px;

    text-transform: uppercase;

    .searchbar-input-container {
      ion-icon {
        padding: 0 8px;
      }
    }

    .searchbar-cancel-button {
      color: var(--ion-color-danger);
    }
  }
}
