.replication-page-content {
  padding: 20px;
  text-align: center;
}

.replication-card {
  margin: 20px 0;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  height: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.replication-percentage {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.offline-message {
  margin: 20px 0;
  font-size: 1.1em;
  font-weight: 500;
}

.retry-button {
  margin-top: 50px;

  --background: var(--ion-color-yellow);
  --background-hover: #4c8dff;
  --background-activated: #4c8dff;

  max-width: 250px;
  margin: 50px auto;
}
