.scene-details-card {
  width: 100%;
  grid-template-columns: 1fr;
  margin: 0;
  outline: 1px solid var(--ion-color-dark);
  border-radius: 0;
  box-shadow: none;

  ion-card-header,
  ion-card-content {
    padding: 0 16px;
  }
}

.scene-theme-dark {
  --background: var(--ion-color-dark);

  color: var(--ion-color-light);

  &:active,
  &:hover {
    --background: var(--ion-color-dark-shade);
  }
}

.scene-theme-light {
  --background: var(--ion-color-light);

  &:active,
  &:hover {
    --background: var(--ion-color-light-shade);
  }
}

.scene-theme-yellow {
  --background: var(--ion-color-yellow);

  &:active,
  &:hover {
    --background: var(--ion-color-yellow-shade);
  }
}

.scene-theme-success {
  --background: var(--ion-color-success);

  &:active,
  &:hover {
    --background: var(--ion-color-success-shade);
  }
}

.scene-theme-rose {
  --background: var(--ion-color-rose);

  &:active,
  &:hover {
    --background: var(--ion-color-rose-shade);
  }
}

.scene-theme-danger {
  --background: var(--ion-color-danger);

  &:active,
  &:hover {
    --background: var(--ion-color-danger-shade);
  }
}

.scene-theme-primary {
  --background: var(--ion-color-primary);

  &:active,
  &:hover {
    --background: var(--ion-color-primary-shade);
  }
}

.no-items-card {
  width: 100%;
  grid-template-columns: 1fr;
  margin: 0;
  border-radius: 0;
  box-shadow: none;

  ion-card-header,
  ion-card-content {
    padding: 0 16px;
  }
}

.change-scene-button {
  --background-activated: transparent !important;
  --color: var(--ion-color-primary);
  --border-radius: 0;
  --border-color: var(--ion-color-primary);

  &:active,
  &:hover,
  &:focus {
    --color: var(--ion-color-primary);
    --border-radius: 0;
    --border-color: var(--ion-color-primary);

    background-color: transparent !important;
    border-color: 1px solid var(--ion-color-primary);
    color: var(--ion-color-primary);
  }
}

.shoot-info {
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid-scene-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 6px;

  .section-wrapper {
    background-color: var(--ion-color-tertiary-dark);
    height: 100%;
    justify-content: center;

    .categories-card-container {
      height: calc(100% - 57px);

      ion-card {
        height: 100%;
        background-color: var(--ion-color-tertiary-dark);
      }
    }
  }

  .characters-info {
    grid-row: 1/5;
    grid-column: 1/2;
  }

  .extras-info {
    grid-row: 1/4;
  }

  .elements-info {
    grid-row: 1/4;
    
  }

  .notes-info {
    grid-column: 2/4;
  }

}

@media (min-width: 500px) {
  .categories-card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .no-items-card {
    grid-column: 1 / 5;
    text-align: center;
    padding: 12px;
  }

  .shoot-info {
    width: 100%;
    .info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 6px;
      padding: 12px;

      div {
        padding: 3px;
      }
    }
  }
  
}
