
@media (min-width: 500px) {
  .edit-inputs-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    ion-item {
      grid-column: 1/3;
    }

    #add-character-number-input {
      grid-column: 1/2;
    }

    #add-category-name-input {
      grid-column: 2/3;
    }
  }

  .edit-new-option-buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    margin: 10% auto;

    ion-button {
      max-width: 150px;
      margin: 0 !important;
      padding: 0;
    }
  }
}

.edit-inputs-wrapper {
  grid-template-columns: 1fr;
}

ion-select {
  border-bottom: 1px solid var(--ion-color-light);
}
.checkbox {
  ion-checkbox {
    --size: 12px;
    --checkbox-background-checked: radial-gradient(circle, yellow 46%, rgba(255,255,255,1) 46%);
  }
  ion-checkbox::part(container) {
    outline: .5px solid var(--ion-color-dark);
    border-radius: 100%;
    padding: 8px;
  }
}
