#sort-scenes-page {
  .sort-options-wrapper {
    outline: 1px solid black;
    margin: 0 var(--525-small-margin) 0 var(--525-small-margin);
  }

  .sort-scenes-button {
    margin: 10% var(--525-small-margin) 0 var(--525-small-margin);

    @media (min-width: 500px) {
      margin: 20% auto 10% auto;
    }
  }
}

@media (min-width: 500px) {
  #sort-scenes-page {
    .sort-options-wrapper {
      margin: 0;
    }
  }
}
