.input-item {
  border-bottom: 1px solid var(--ion-color-light) !important;
  display: flex;
  justify-content: center;


  .input-wrapper {
    .label-text-wrapper {
      color: var(--ion-color-primary) !important;
    }
  }
}

.input-item.error {
  border-bottom: 2px solid var(--ion-color-danger) !important;

  .input-wrapper {
    .label-text-wrapper {
      color: var(--ion-color-danger) !important;
    }
  }
}
