@import "../../theme/mixins";

.general-modal-styles {
  @include modal-styling;

  .add-new-option-description {
    text-align: center;
    margin: 5% 16px 5% 16px;
    font-size: var(--525-common-title-size);
  }

  ion-input {
    border-bottom: 1px solid var(--ion-color-light);
  }

  ion-input.error {
    color: var(--ion-color-danger);
  }

  .modal-confirm-button {
    margin: 5% 16px 16px 16px;
  }

  .cancel-input-modal-button {
    margin-bottom: 5%;
  }

  .add-new-option-buttons-container {
    margin: 16px;
    margin-top: 5%;

    .modal-confirm-button {
      margin: 0;
      width: 100%;
    }

    .cancel-input-modal-button {
      margin-bottom: 0;
      width: 100%;
    }
  }
}

@media (min-width: 500px) {
  .general-modal-styles {
    .modal-confirm-button {
      margin: 20% auto 10% auto;
    }

    .add-new-option-buttons-container {
      display: flex;
      justify-content: space-between;
      width: 40%;
      margin: 10% auto;

      .modal-confirm-button {
        margin: 0;
        width: 20%;
      }

      .cancel-input-modal-button {
        margin: 0;
        width: 20%;
      }
    }
  }
}
