.toolbar {
  display: flex;
  border-bottom: 2px solid #000;
  height: 50px;
}

.toolbar-title {
  width: auto;
  position: static;
  padding: 0;
  text-align: left;
  font-size: var(--525-big-title-size);
  height: 100%;
}

.toolbar-burger-menu {
  position: static;
  font-size: 24px;
  margin: 0;
  height: 100%;
}

.toolbar-icon {
  font-size: 24px;
  color: #fff;
}

.toolbar-button {
  width: 40px;
  height: 50px;
  --background-activated-opacity: 0;

  &:active {
    ion-icon {
      color: var(--ion-color-primary);
      font-weight: bolder;
      transform: scale(1.1);
    }
  }
}
