@import "../../../theme/mixins";

.app-tabs-container {
  padding: 6px;
  transition: all 1s ease-in-out;

  .tab-bar-buttons {
    @include tab-bar-buttons;

    font-size: 10px;
  }

  .tab-bar-buttons.tablet {
    display: none;
  }
}

.hide-tabs {
  display: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}


@media (max-width: 500px) {
  .tab-bar-buttons {
    @include tab-bar-buttons;

    font-size: 6px !important;
  }
}