@import "../../../theme/mixins";

.app-tabs-container {
  padding: 6px;
  transition: all 1s ease-in-out;

  .tab-bar-buttons {
    @include tab-bar-buttons;
  }

  .tab-bar-buttons.tablet {
    display: none;
  }
}

.hide-tabs {
  display: none;
}
