/* Use it for modal styling */

@mixin modal-styling {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  --overflow: show;

  .ion-delegate-host {
    min-height: 100vh !important;
    min-width: 100vw !important;
    display: flex;
  }

  .modal-wrapper {
    min-height: 100vh !important;
    min-width: 100vw !important;
  }
}
