/* CUSTOMIZED FLEX STYLES */

.center-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ion-flex {
  display: flex;
}

/* BUTTONS GENERAL STYLES */

.reset-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

button:active {
  color: var(--ion-color-primary);
}

ion-button {
  font-size: var(--525-common-text-size);
  text-transform: none;
}

ion-button.outline-light-button {
  --background: var(--ion-color-tertiary);
  --background-activated: var(--ion-color-primary);
  --color: var(--ion-color-light);
  --border-radius: 0;
  --border-color: var(--ion-color-light);
  --border-style: solid;
  --border-width: 1px;
}

ion-button.filled-primary-button {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-dark);
  --border-radius: 0;
  --border-color: var(--ion-color-primary);
  --border-style: solid;
  --border-width: 1px;
}

.outline-primary-button {
  --background: var(--ion-color-tertiary);
  --background-hover: var(--ion-color-primary);
  --background-activated: var(--ion-color-primary);
  --background-focused: var(--ion-color-primary);
  --color: var(--ion-color-light);
  --border-radius: 0;
  --border-color: var(--ion-color-primary);
  --border-style: solid;
  --border-width: 1px;

  @media (min-width: 500px) {
    max-width: 250px;
    margin: auto;
    margin-top: 20%;
  }
}

ion-toolbar {
  --border-color: var(--ion-color-dark);
}

/* CHECKBOX STYLES */

.checkbox-item-option {
  border-bottom: 1px solid black;
  box-shadow: none;
  outline: 2px solid black;

  ion-checkbox {
    --size: 16px;
    --checkbox-background-checked: var(--ion-color-yellow);
  }

  ion-checkbox::part(container) {
    border: 1px solid black;
    border-radius: 100%;
    margin: 12px;
    padding: 6px;
  }
}
