// VARIABLES

$colors: (
  danger: var(--ion-color-danger),
  dark: var(--ion-color-dark),
  light: var(--ion-color-light),
  primary: var(--ion-color-primary),
  secondary: var(--ion-color-secondary),
  success: var(--ion-color-success),
  tertiary: var(--ion-color-tertiary),
  warning: var(--ion-color-warning),
);

// CUSTOM COLOR STYLES

@each $color, $value in $colors {
  .outline-#{$color}-button {
    --background: var(--ion-color-tertiary-dark);
    --background-hover: #{$value};
    --background-activated: #{$value};
    --background-focused: #{$value};
    --color: var(--ion-color-light);
    --border-radius: 0;
    --border-color: #{$value};
    --border-style: solid;
    --border-width: 1px;
    --background-activated-opacity: 1;

    transition: all 0.3s ease-in-out;
    min-width: 180px;
    margin: 6px auto;
    width: 180px;
    min-height: 40px;
    text-transform: uppercase;
    font-size: 14px !important;

    &:active {
      background-color: #{$value};
    }

    @media (min-width: 500px) {
      max-width: 250px;
    }
  }

  .outline-#{$color}-button-small {
    --background: var(--ion-color-tertiary-dark);
    --background-hover: #{$value};
    --background-activated: #{$value};
    --background-focused: #{$value};
    --color: var(--ion-color-light);
    --border-radius: 0;
    --border-color: #{$value};
    --border-style: solid;
    --border-width: 1px;
    --background-activated-opacity: 1;

    transition: all 0.3s ease-in-out;
    min-width: 100px;
    margin: 6px auto;
    width: 80px;
    min-height: 16px;
    text-transform: uppercase;
    font-size: 12px !important;
    margin: 3px;
    font-weight: bold;

    &:active {
      background-color: #{$value};
    }

    @media (min-width: 500px) {
      max-width: 100px;
    }
  }

  .filled-#{$color}-button {
    --background: #{$value};
    --color: var(--ion-color-light);
    --border-radius: 0;
    --border-color: #{$value};
    --border-style: solid;
    --border-width: 1px;

    transition: all 0.3s ease-in-out;
    min-width: 180px;
    margin: 6px auto;
    width: 180px;
    min-height: 40px;
    text-transform: uppercase;
    font-size: 14px !important;

    &:active {
      background-color: #{$value};
    }

    @media (min-width: 500px) {
      max-width: 250px;
    }
  }

  .clear-#{$color}-button {
    --background: transparent;
    --color: var(--ion-color-light);
    --border-radius: 0;
    --border-color: #{$value};
    --border-style: solid;
    --border-width: 0;
    --background-activated: #{$value};
    --background-hover: #{$value};
    --background-focused: #{$value};

    transition: all 0.3s ease-in-out;
    min-width: 180px;
    margin-top: 0;
    width: 180px;
    min-height: 40px;
    text-transform: uppercase;
    font-size: 14px !important;

    @media (min-width: 500px) {
      max-width: 250px;
    }
  }
}

// STYLES

ion-content {
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

ion-input {
  text-transform: uppercase;
}

main {
  &::-webkit-scrollbar {
    display: none;
  }
}

.input-wrapper {
  flex-wrap: nowrap !important;
}

.center-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.end-flex-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.center-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ion-flex {
  display: flex;
}

.ion-flex-column {
  display: flex;
  flex-direction: column;
}

/* BUTTONS GENERAL STYLES */

.reset-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: bold;
}

ion-button {
  font-size: 14px !important;
  text-transform: none;
}

ion-button.outline-light-button {
  --background: var(--ion-color-tertiary);
  --background-activated: var(--ion-color-primary);
  --color: var(--ion-color-light);
  --border-radius: 0;
  --border-color: var(--ion-color-light);
  --border-style: solid;
  --border-width: 1px;

  height: 40px;
  min-width: 120px;
  margin: 6px auto;
  width: calc(100% - 32px);
}

.cancel-button {
  --background-activated: transparent !important;
  --border-radius: 0;

  &:active,
  &:hover,
  &:focus {
    --color: var(--ion-color-danger);
    --border-radius: 0;
    --border-color: var(--ion-color-danger);

    background-color: transparent !important;
    border-color: 1px solid var(--ion-color-danger);
    color: var(--ion-color-danger);
  }
}

ion-toolbar {
  --border-color: var(--ion-color-dark);
}

/* CHECKBOX STYLES */

.checkbox-item-option {
  box-shadow: none;
  border-bottom: 1px solid rgb(0, 0, 0) !important;
  background-color: var(--ion-color-tertiary);
  cursor: pointer;

  .checkbox-option {
    background-color: transparent;
  }

  ion-checkbox {
    --size: 12px;
    --checkbox-background-checked: radial-gradient(circle, yellow 35%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 1) 48%, yellow 50%, rgba(255, 255, 255, 1) 58%);
  }

  ion-checkbox::part(container) {
    outline: 0.5px solid yellow;
    border-radius: 100%;
    margin: 12px;
    padding: 10px;

    --border-color-checked: yellow;
  }

  &:active,
  &:focus {
    filter: sepia(20%);
  }
}

.no-items-message {
  text-align: center;
  align-self: center;
  justify-self: center;
  width: 90%;
  top: 10%;
  left: 5%;
  font-size: var(--525-medium-title-size);
  margin: auto;
  padding: 16px;

  ion-button {
    margin: 12px;
    max-width: 150px;
  }

  .reset-filters-option {
    text-decoration: none;
    margin: 0;
    width: auto;

    --padding-top: 0;

    font-size: var(--525-medium-title-size);
  }
}

/* TOAST STYLES */

ion-toast.success-toast {
  --background: var(--ion-color-dark);
  --color: var(--ion-color-light);
  --border-style: solid;
  --border-width: 1px;
  --border-color: var(--ion-color-success);
}

ion-toast.warning-toast {
  --background: var(--ion-color-dark);
  --color: var(--ion-color-light);
  --border-style: solid;
  --border-width: 1px;
  --border-color: var(--ion-color-warning);
}

ion-toast.warning-toast::part(icon) {
  color: var(--ion-color-warning);
}

ion-toast.success-toast::part(icon) {
  color: var(--ion-color-success);
}

.error-toast::part(icon) {
  color: var(--ion-color-danger);
}

ion-toast.error-toast {
  --background: var(--ion-color-dark);
  --color: var(--ion-color-light);
  --border-style: solid;
  --border-width: 1px;
  --border-color: var(--ion-color-danger);
}

.hide-tabs {
  display: none;
}

.background-light {
  background-color: var(--ion-color-light);
}

.background-dark {
  background-color: var(--ion-color-dark);
}

.background-primary {
  background-color: var(--ion-color-primary);
}

.background-secondary {
  background-color: var(--ion-color-secondary);
}

.background-tertiary {
  background-color: var(--ion-color-tertiary);
}

.background-success {
  background-color: var(--ion-color-success);
}

.background-warning {
  background-color: var(--ion-color-warning);
}

.background-danger {
  background-color: var(--ion-color-danger);
}

.background-light-shade {
  background-color: var(--ion-color-light-shade);
}

.background-dark-shade {
  background-color: var(--ion-color-dark-shade);
}

.background-primary-shade {
  background-color: var(--ion-color-primary-shade);
}

.background-secondary-shade {
  background-color: var(--ion-color-secondary-shade);
}

.background-tertiary-shade {
  background-color: var(--ion-color-tertiary-shade);
}

.background-success-shade {
  background-color: var(--ion-color-success-shade);
}

.background-warning-shade {
  background-color: var(--ion-color-warning-shade);
}

.background-danger-shade {
  background-color: var(--ion-color-danger-shade);
}

.uppercase {
  text-transform: uppercase;
}

.ow-icons {
  font-size: 36px !important;
  font-weight: bold;
  padding: 6px;

  &:hover {
    color: var(--ion-color-primary);
  }
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ion-flex-wrap {
  flex-wrap: wrap;
}

.ion-invalid {
  color: var(--ion-color-danger);

  * {
    --border-color: var(--ion-color-danger) !important;
  }
}

.common-title {
  font-size: var(--525-common-title-size);
}
