#modal-toolbar {
  border-bottom: 0px solid transparent;

  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-toolbar-title {
    position: static;
    text-align: left;
    padding: 0px;
    font-size: var(--525-big-title-size);
  }

  .cancel-button {
    
    &:active,
    &:hover,
    &:focus,
    &::after {
      --ion-color-base: var(--ion-color-danger) !important;
    }
  }
}

@media (min-width: 500px) {
  #modal-toolbar {
    .modal-toolbar-title {
      text-align: center;
    }
  }
}
