#modal-toolbar {
  border-bottom: 1px solid #000;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-toolbar-title {
    position: static;
    text-align: left;
    padding: 0px;
    font-size: var(--525-big-title-size);
  }
}

@media (min-width: 500px) {
  #modal-toolbar {
    .modal-toolbar-title {
      text-align: center;
    }
  }
}
