.add-scene-form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 24px;

  ion-select {
    border-bottom: 1px solid var(--ion-color-light);
  }
}

#add-scene-type-input {
  grid-column: 1 / 7;
}

#add-protection-type-input {
  grid-column: 7 / 13;
}

#add-day-night-input {
  grid-column: 1 / 7;
}

#add-episode-input {
  grid-column: 1 / 4;
}

#add-scene-number-input {
  grid-column: 4 / 7;
}

#add-script-day-input {
  grid-column: 7 / 10;
}

#add-year-input {
  grid-column: 10 / 13;
}

#add-int-ext-input {
  grid-column: 7 / 13;
}

#add-page-input {
  grid-column: 1 / 7;
}

#add-pages-integer-input {
  grid-column: 7 / 9;
  margin: auto;
}

#add-pages-fraction-input {
  grid-column: 9 / 12;
  width: 100%;
  margin: auto;

  .label-text-wrapper {
    visibility: hidden;
  }
}

#add-synopsis-input {
  grid-column: 1 / 13;

  .native-input {
    text-align: left;
  }
}

.estimated-minutes-input {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: visible;
  position: relative;

  #estimated-minutes-label {
    position: absolute;
    font-size: var(--525-common-text-size);
    top: -4px;
    left: 16px;
    z-index: 3;
  }

  #add-scene-minutes-input {
    grid-column: 1 / 6;

    .native-input {
      padding-top: 16px;
    }
  }

  #semicolon-estimated-seconds {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 12px;
  }

  #add-scene-seconds-input {
    grid-column: 7 / 13;

    .native-input {
      padding-top: 16px;
    }
  }
}

#add-pages-fraction-input > ion-input,
#add-pages-integer-input > ion-input,
#add-scene-minutes-input > ion-input,
#add-scene-seconds-input > ion-input {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--ion-color-light);
}

#add-pages-denominator {
  grid-column: 12 / 13;
  display: flex;
  align-items: flex-end;
  padding-bottom: 30%;
}

#add-location-input {
  grid-column: 7 / 13;
}

#add-set-input {
  grid-column: 1 / 13;
}

.submit-scene-button {
  border: 1px solid #19cff9;
  background-color: transparent;
  height: 34pt;
  width: 90%;
  justify-self: center;
  margin-top: 24px;
  grid-column: 1 / 13;
}

.submit-scene-button:active {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-dark);
}

.cancel-add-scene-button {
  border: 1px solid #fff;
  background-color: transparent;
  height: 34pt;
  width: 90%;
  justify-self: center;
  margin-bottom: 24px;
  margin-top: 7.5px;
  grid-column: 1 / 13;
}

.category-item-title {
  border-top: 1px solid var(--ion-color-dark);
  border-bottom: 1px solid var(--ion-color-dark);
  padding: 0 12px;
  background-color: #0000001e;
  font-size: var(--525-common-text-size);
  margin: 0;
  grid-column: 1 / 13;
}

.add-scene-items-card-grid {
  display: grid;
  grid-column: 1 / 13;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0;
  padding: 0;
}

.add-scene-items-card {
  width: 100%;
  grid-template-columns: 1fr;
  margin: 0;
  border: 1px solid var(--ion-color-dark);
  border-radius: 0;
}

.category-items {
  border: 1px solid var(--ion-color-light);
  margin: 0;
}

.add-scene-input {
  background-color: transparent;
  margin: 6px 0;
  border-bottom: 1px solid var(--ion-color-light);
}

.no-items-card {
  border-radius: 0;
  margin: 0;
  grid-column: 1 / 13;
  box-shadow: none;
}

.no-items-card-title {
  font-size: var(--525-common-text-size);
  text-align: center;
}

.add-scente-input-insert {
  grid-column: 1 / 13;
}

@media (min-width: 500px) {
  .add-scene-form {
    .native-input {
      text-align: center;
    }
  }

  .submit-scene-button {
    width: 254px;
    margin-top: 90px;
    margin-bottom: 54px;
  }

  .category-item-title {
    background-color: transparent;
  }

  .add-scene-items-card-grid {
    grid-column: 1 / 13;
    grid-template-columns: 1fr 1fr;
  }

  #add-scene-type-input {
    grid-column: 1 / 7;
  }

  #add-protection-type-input {
    grid-column: 7 / 13;
  }

  #add-day-night-input {
    grid-column: 1 / 7;
  }

  #add-episode-input {
    grid-column: 1 / 4;
  }

  #add-scene-number-input {
    grid-column: 4 / 7;
  }

  #add-script-day-input {
    grid-column: 7 / 10;
  }

  #add-year-input {
    grid-column: 10 / 13;
  }

  #add-int-ext-input {
    grid-column: 7 / 13;
  }

  #add-page-input {
    grid-column: 1 / 4;
  }

  #add-pages-integer-input {
    grid-column: 4 / 6;
  }

  #add-pages-fraction-input {
    grid-column: 6 / 8;
  }

  #add-pages-denominator {
    grid-column: 8 / 9;
    padding-bottom: 30%;
  }

  .estimated-minutes-input {
    grid-column: 9 / 13;
  }

  #add-scene-minutes-input {
    margin: auto;
  }

  #add-scene-seconds-input {
    margin: auto;
  }

  #add-location-input {
    grid-column: 1 / 7;
  }

  #add-set-input {
    grid-column: 7 / 13;
  }

  #add-synopsis-input {
    grid-column: 1 / 13;
  }
}
