.department-dropdown {
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  height: 50px;
  cursor: pointer;
  background-color: var(--ion-color-tertiary-dark);
  margin: 0;

  &:hover {
    background-color: var(--ion-color-tertiary-shade);
  }
}
