.asc-or-desc-button {
  color: var(--ion-color-light);
}

.asc-or-desc-button.yellow {
  color: var(--ion-color-yellow);
}

.asc-or-desc-button.light {
  color: var(--ion-color-light);
}

.asc-or-desc-button {
  margin: 0px !important;
}
.grip-sort-item-icon {
  font-size: var(--525-icons-size);
}

.sort-item-label {
  font-size: 14px;
}

.asc-or-desc-icon {
  font-size: var(--525-icons-size);
  margin: 6px;
}
