.input-alert {
  --background: var(--ion-color-tertiary);
  --border-width: 0;
  --box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  --padding-start: 20px;
  --padding-end: 20px;
  border-radius: 20px;


  .alert-wrapper {
    height: 100vh !important;
    width: 100vw !important;
    margin: 0px;
    max-height: none;
    max-width: none;

    .alert-head {
      border-bottom: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px;
      padding: 0px;
      height: 50px;
      
      .alert-title {
        font-size: var(--525-big-title-size);
        text-transform: uppercase;
        color: var(--ion-color-light);
        margin: 0px;
        padding: 0px;
        padding: 6px;
      }
    }

    .alert-message {
      color: var(--ion-color-light);
      font-size: var(--525-common-text-size);
      margin: 5% 0px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .alert-input-group {
      padding: 0px;
      .alert-input-wrapper {
        margin: auto;
        display: flex;
        justify-content: center;

        .alert-input {
          background-color: transparent;
          margin: 12px 0;
          outline: none;
          border: none;
          border-bottom: 1px solid var(--ion-color-light);
          border-radius: 0;
          font-size: var(--525-medium-title-size);
          width: calc(100% - 32px) !important;
          max-width: calc(100% - 32px) !important;

          &::placeholder {
            text-transform: uppercase;
          }
        }
      }
    }

    .alert-button-group {
      .alert-button {
        border: 1px solid var(--ion-color-primary);
        min-width: auto;
        margin: 6px auto;
        font-size: var(--525-common-text-size);
        display: flex;
        text-transform: uppercase;
        width: calc(100% - 32px) !important;
        max-width: calc(100% - 32px) !important;

        &:active,
        &:focus {
          background-color: var(--ion-color-primary);
          color: var(--ion-color-light);
        }
        
        .alert-button-inner {
          display: flex;
          justify-content: center;
        }

        &.secondary {
          border: 1px solid var(--ion-color-light);
          color: var(--ion-color-light);
          margin: 6px auto;

          &:active,
          &:focus {
            border-color: 1px solid var(--ion-color-danger);
            color: var(--ion-color-danger);
            background-color: transparent;
          }
        }
      }
    }
  }
}