.cards-container {
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.general-card {
  position: relative;
  background: var(--ion-color-tertiary-shade);
  border-radius: 10px;
  overflow: hidden;
  border-radius: 0px;
}

.general-card.editing {
  border: 2px solid var(--ion-color-primary);
}

.card-header {
  font-size: 14px;
  font-weight: 600;
  padding: 0px;
  display: flex;
  align-items: center;
}

ion-card-header {
  display: flex;
  justify-content: space-between;
  padding: 6px !important;
  margin-bottom: 12px !important;
}

ion-card-content {
  padding: 6px;
}

.card-header {
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}

.card-content {
  display: grid;
  gap: 0.75rem;
}

.card-header-container {
  display: flex;
  justify-content: space-between;
}

.field-value {
  display: flex;
  align-items: center;
  min-height: 100%;
  font-size: 12px;
  text-transform: uppercase;

  .editable-minute {

    span {
      display: flex;
      align-items: center;
    }

    ion-input {
      text-align: center !important;
    }
  }
}

.field-label {
  font-size: 8px;
  color: var(--ion-color-light);
  padding: 8px;
  text-transform: uppercase;
  padding: 0px;
}

.switch.negative {
  --knob-background: var(--ion-color-danger) !important;
  --pin-background: var(--ion-color-danger) !important;
}

.switch.positive {
  --knob-background: var(--ion-color-success)!important;
  --pin-background: var(--ion-color-success)!important;
}

.switch {
  --bar-background: var(--ion-color-tertiary-shade) !important;
  --bar-background-active: var(--ion-color-tertiary-shade) !important;

  --knob-background: var(--ion-color-light) !important;
  --pin-background: var(--ion-color-primary) !important;
  --pin-color: #fff;
  --knob-size: 30px;

  border-radius: 12px;
  max-width: 70%;
  margin: 0 auto;
}

.header-switch {
  background-color: var(--ion-color-tertiary-shade);
  width: 50px;
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
