.filter-button-select-column {
  margin-bottom: 9px;
}

.filter-button-select-title {
  font-size: var(--525-common-title-size);
}

.filter-button-select {
  padding: 0;
  max-height: 30px;
  margin: 3px;
}
