@import '../../theme/mixins';

/* stylelint-disable */

.location-set-card {
  --inner-padding-end: 0;

  .location-set-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: transparent;
    margin: 0;
    border: 1px solid var(--ion-color-tertiary);
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
    padding-right: 16px; // Removido el padding duplicado
    padding-left: 24px;
    border-bottom: 1.5px solid var(--ion-color-tertiary-shade);

    &.location {
      background-color: var(--ion-color-tertiary-shade);
      padding: 16px;
      cursor: pointer;
      border-top: 1.5px solid var(--ion-color-dark);
      border-bottom: 1.5px solid var(--ion-color-dark);

      &:focus,
      &:active {
        background-color: var(--ion-color-tertiary);
      }
    }

    .location-set-card-content {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      color: var(--ion-color-light);
      height: 100%;
      min-width: 100%;

      .info-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        color: var(--ion-color-light);

        .value-part {
          font-size: 18px;
          font-weight: bolder;
          color: var(--ion-color-light);
          display: flex;

          .symbol-part {
            font-size: var(--525-common-text-size);
            font-weight: bold;
            color: var(--ion-color-light);
          }
        }

        .label-part {
          font-size: var(--525-small-text-size);
        }
      }
    }

    .location-set-card-header {
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 12px;
      width: 100%;

      ion-button {
        margin-right: -8px;
      }

      .location-set-card-header-title {
        font-size: var(--525-common-title-size);
        font-weight: bolder;
        padding: 0;
      }

      .location-set-card-header-subtitle {
        font-size: var(--525-small-text-size);
        font-weight: lighter;
        padding: 0;
        margin: 0;
        margin-top: 6px;
        white-space: nowrap; // Cambiado text-wrap por white-space
        text-align: left;
      }
    }

    .location-set-card-image {
      min-width: 50px;
      min-height: 50px;
      border-radius: 100%;
      background-color: var(--ion-color-primary);
      flex-basis: 50px;
      margin: 12px;
      display: none;
    }
  }
}

.location-set-card-item-options {
  @include slide-card-item-options;
}

@media (min-width: 600px) {
  .location-set-card {
    .location-set-card-wrapper {
      min-height: 80px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &.location {
        .location-set-card-content {
          min-width: 50%;
        }
      }

      .location-set-card-content {
        display: grid;
        grid-auto-flow: column;
        min-width: 45%;
        width: 45%;
        flex-basis: 45%;

        .info-label {
          align-items: center;
          justify-content: center;
          width: 100%;
        }
      }

      .location-set-card-header {
        width: auto;
        margin: 0;
        min-width: 45%;
        flex-basis: 45%;
      }

      .location-set-card-image {
        display: flex;
        margin-left: 24px;
      }
    }
  }
}

@media (min-width: 800px) {
  .location-set-card {
    .location-set-card-wrapper {
      .location-set-card-header {
        width: 20%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .location-set-card {
    .location-set-card-wrapper {
      .location-set-card-content {
        width: 64%;

        .info-label {
          min-width: 30px;
        }
      }

      .location-set-card-header {
        width: 30%;
      }
    }
  }
}
